@import 'fonts';
@import 'colors';
@import 'dimensions';

@import 'typography';

html {
	background: var(--background);
}

body {
	margin: 0;
	padding: var(--spacer-s);
	height: calc(100vh - var(--spacer-s) * 2);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--text-color);
	background: var(--background);
	background: radial-gradient(circle, var(--background-highlight) 0%, black 150%);

	@media only screen and (min-width: 764px) {
		padding: var(--spacer-l);
		height: calc(100vh - var(--spacer-l) * 2);
	}
}

header,
section {
	margin-bottom: var(--spacer-xl);
}

ul {
	margin: 0;
	padding-left: 3ch;

	li {
		list-style: "├─ ";

		&.indented {
			list-style: "│  ";
		}

		&:last-child {
			list-style: "└─ ";
		}
	}
}
