@import 'fonts';
@import 'colors';
@import 'dimensions';

@import 'typography';

body {
	height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--text-color);
	background: var(--background);
	background: radial-gradient(circle, var(--background-highlight) 0%, black 150%);

	@media only screen and (min-width: 764px) {
		margin: var(--spacer-l);
	}
}

header, section {
	margin-bottom: var(--spacer-xl);
}

ul {
	margin: 0;
	list-style: "> ";
	padding-left: 2ch;
}
